{% extends "templates/layout.html" %}
{% block content %}
<div class="content">
  <h4>The four C's</h4>
  <p><a name = "complete">Is the data complete? If not, what is missing and what concerns does it raise?</a></p>
  <p>The data about the CMU college applicant’s profile is not complete. From 2005 till this year, I have only collected 975 students’ profiles from collegedata.com. We know that this year, the CMU undergraduate school receives 35,000 applications for different colleges/programs. The data collected from collegedata.com is provided by students voluntarily. Furthermore, the data is not complete because out of the 975 student profiles, there are many profiles have missing field.
    I am really concerned about if this sample of size 975 is a good representation about the entire population of CMU applications’ profile.
  </p>

  <p><a name="coherent">Is the data coherent?Does it make sense relative to itself? Does it match your expectations?Is the data is distributed across its possible values in a way that makes sense?</a></p>
    <p>The data really make sense and match my expectation for most of the parts. I expect the distribution of SAT score of all applicants follow a normal distribution. That is the amount of students who fall in the same SAT score bucket should be normally distributed, with more number of students centered to the mean and less to the two tails. From the actual data, we can visualize that the students’ SAT scores follow the normal distribution nicely except the rightmost end. There is an obvious bias on the number of students who scores very high SAT score. My hypothesis for this observation is that, students who get very high score on SAT are more likely to show off on social media. They have bigger probability to report their scores on collegedata.com because they might just feel proud.
        I also expect that amount students who get accepted should have similar distribution but skewed to the right. Similarly, the students who are rejected should have a distribution skewed to the left. The data actually match my expectation.</p>

  <p><a name="correct">Is the data correct? What aspects of this data can you verify? What did you find?</a></p>
  <p>The data would be correct if the students who have been accepted should have a higher GPA and SAT score than the ones who are rejected. My finding actually matches this fact that there exists such difference among the two groups of students. </p>

  <p><a name="accountable">Is the data accountable? Where did it come from? Who has access to it?</p>
  <p>The data is from collegedata.com. So it is publicly available. The student who reports his/her profile should be accountable for it and they have the accessibility to modify it. It is reliable because it is totally anonymous so there is no incentive to lie about the admission decision.</p>
 </div>
{% endblock %}
